* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Heebo', sans-serif;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  line-height: 1.2;
  margin: 10px 0;
}

/* unsure about this? */
img {
  width: 100%;
}

/* Navbar */
.navbar {
  background-color: #e6e6e6;
  height: 70px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 2px black solid;
  transform: scale(1.15);
}

.navbar .flex {
  justify-content: space-between;
}

/* Showcase */
.showcase {
  background-color: #e2d2cf;
  display: flex;
}

/* .painting {
  width: 550px;
  /* display: flex; */
  /* justify-content: flex-start; */
  /* position: relative;
    

    display: flex;
    justify-content: center; 
    align-items: center;
}  */ 

/* .painting {
  width: 550px;
  margin-top: 100px;
  margin-bottom: 100px;
}  */

/* .painting {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 550px;
  margin-top: 100px;
  margin-bottom: 100px;
}  */

.painting {
  width: 550px;
  margin-top: 100px;
  margin-bottom: 100px;
  /* display: flex;
  align-items: center; */
}

/* Utilities */
.container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
  display: flex;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}